In [15]:
# import the relevant packages

from requests import get
from requests import options
from json import dumps
import numpy as np
import pandas as pd

In [20]:
# ENDPOINT = "https://api.coronavirus.data.gov.uk/v1/data"

# response = options(ENDPOINT, timeout=10)

# print(dumps(response.json(), indent=4, sort_keys=True))

In [21]:
# function to get JSON information from API

def get_data(api_params):
    
    ENDPOINT = "https://api.coronavirus.data.gov.uk/v1/data"

    response = get(ENDPOINT, params=api_params, timeout=10)

    if response.status_code >= 400:
        raise RuntimeError(f'Request failed: { response.text }')
        
    return response.json()

In [22]:
# define out parameters for the API call

AREA_TYPE = "nhsRegion"
AREA_NAME = "london"

filters = [
    f"areaType={ AREA_TYPE }",
    f"areaName={ AREA_NAME }"
]

structure = {
    "date": "date",
    "name": "areaName",
    "newCases": "newCasesByPublishDate",
    "newAdmissions": "newAdmissions",
    "newDeaths": "newDeaths28DaysByDeathDate",
    "P1Tests": "newPillarOneTestsByPublishDate",
    "P2Tests": "newPillarTwoTestsByPublishDate",
    "P3Tests": "newPillarThreeTestsByPublishDate",
    "P4Tests": "newPillarFourTestsByPublishDate"   
}


api_params = {
    "filters": str.join(";", filters),
    "structure": dumps(structure, separators=(",", ":"))
}

In [23]:
# pull in json formatted covid data from the API
londonJson = get_data(api_params)

In [24]:
# extract the desired data

londonDf = pd.DataFrame(londonJson["data"])
londonDf.sort_values(by='date',ascending=True,inplace=True)
londonDf.set_index(keys='date', inplace=True)

londonDf.tail()

,name,newCases,newAdmissions,newDeaths,P1Tests,P2Tests,P3Tests,P4Tests
date,,,,,,,,
2020-08-20,London,0,6.0,None,newPillarOneTestsByPublishDate,None,newPillarThreeTestsByPublishDate,newPillarFourTestsByPublishDate
2020-08-21,London,0,5.0,None,newPillarOneTestsByPublishDate,None,newPillarThreeTestsByPublishDate,newPillarFourTestsByPublishDate
2020-08-22,London,0,3.0,None,newPillarOneTestsByPublishDate,None,newPillarThreeTestsByPublishDate,newPillarFourTestsByPublishDate
2020-08-23,London,0,NaN,None,newPillarOneTestsByPublishDate,None,newPillarThreeTestsByPublishDate,newPillarFourTestsByPublishDate
2020-08-24,London,0,NaN,None,newPillarOneTestsByPublishDate,None,newPillarThreeTestsByPublishDate,newPillarFourTestsByPublishDate